site_name: Synthesize

site_url: https://www.synth.how
repo_url: https://github.com/JoshKarpel/synthesize
edit_uri: edit/main/docs/

extra_css:
  - assets/style.css

watch:
  - synthesize/
  - docs/

theme:
  name: material
  favicon: assets/favicon.png
  icon:
    logo: fontawesome/solid/bars-staggered
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      media: "(prefers-color-scheme: light)"
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      media: "(prefers-color-scheme: dark)"
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.indexes
    - toc.follow
    - content.code.annotate
    - content.code.copy

plugins:
  - tags
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            heading_level: 3
            docstring_section_style: spacy
            merge_init_into_class: true
            show_if_no_docstring: false
            show_source: false
            members_order: source
          import:
            - https://docs.python.org/3/objects.inv
            - https://rich.readthedocs.io/en/stable/objects.inv

hooks:
  - docs/hooks/mermaid.py
  - docs/hooks/schemas.py

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: ['']
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - def_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  - tables

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/JoshKarpel/synthesize
      name: Synthesize on GitHub

nav:
  - Introduction: index.md
  - config.md
  - flows.md
  - targets.md
  - triggers.md
  - changelog.md
