name: publish-docs

on:
  push:
    branches:
      - main

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4.2.2
    - name: Install uv
      uses: astral-sh/setup-uv@v5.3.1
      with:
        python-version: "3.x"
        enable-cache: true
    - name: Build and deploy docs
      run: uv run mkdocs gh-deploy --clean --strict --verbose --force
